.skillCard{
    display: flex;
    padding: 8px;
    align-items: flex-end;
}

.skillCard :first-child{
    font-size: 2rem;
    margin-left: 8px;
}


.skillCard p{
    margin-left: 8px;
    font-size: 1rem;
    align-self: center;
    margin-right: 8px;
}
