.aboutMe{
    margin: 64px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    height: 50vh;
    border: 1px solid var(--magentaDark);
    border-radius: 4px;
    transition: all .5s;
    color:var(--magentaDark);
}

.iluminar{
    border: 1px solid var(--magenta);
    box-shadow: 1px 1px 5px var(--magenta);
    color:var(--magenta);
    
}


.aboutMe p{
    color: aliceblue;
}
.aboutMe h1{
    text-align: center;
    font-size: calc(16px + 1vw);
    
}


.profileAndDesc{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-top: 32px;

}

.profileAndDesc div{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}

.imgContainer{
    position: relative;
    z-index: 10;
    
}
.profileAndDesc img{
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 50%;
}

.profileAndDesc p{
    flex-grow: 0.5;
    font-size: calc(8px + 1vw);
    text-align: center;
    
}

@media screen and (max-width: 650px) {
    .aboutMe{
        height: auto;
        margin: 64px 0;
    }
    .profileAndDesc{
        flex-direction: column;
    }
    .profileAndDesc img{
        margin-bottom: 16px;
    }
}